<!-- Service Section -->
<section id="services" class="section services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="services-content">
          <h4>Online Design Portfolio.</h4>
          <p>
          Logo, branding, posters, Catalogues, Ads, Web Identity. Graphic design projects come in all sizes and shapes. Our graphic designers come from all over the world. Come check their online freelance works, and contact them for hire.  
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services-content">
          <h5>Brand Experience</h5>
          <ul>
            <li><a href="#">Web Identity</a></li>
            <li><a href="#">Logo Branding</a></li>
            <li><a href="#">Illustration projects</a></li>
            <li><a href="#">UX Design</a></li>
            <li><a href="#">Book / Magazine Design</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services-content">
          <h5>Curated Selections</h5>
          <ul>
            <li><a href="#">Portfolio Examples</a></li>
            <li><a href="#">Design Ideas</a></li>
            <li><a href="#">Print to Web</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Section --> 