<!-- Slider Section -->
<section id="header-slider" class="section">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active"> <img src="/img/slid1.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>We'r Kuro</h3>
          <p>We Showcase Dezyns, Logos, and Brands</p>
        </div>
      </div>
      <div class="item"> <img src="/img/slid2.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Minimal Freelance Agency</h3>
          <p>Looking for design portfolio inspiration. Check out the best design portfolios.</p>
        </div>
      </div>
    </div>
    <!-- Controls --> 
</section>
<!-- Slider Section --> 